<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silme Formu</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<h1>Kayıt Silme</h1>
<form method="POST" action="/delete">
    <label for="_id">Silinecek Kayıt ID:</label>
    <input type="text" id="_id" name="_id" required><br><br>

    <input type="submit" value="Kaydi Sil">
</form>
</body>
</html>

